mixin searchBlock(data)
  .content-container
    .search-block-container 
      .search-block
        .search-block__logo-container
          .search-block__logo Fengo
        .search-block__search-container
          .search-field
            input.search-field__input(type="text")
            .search-field__submit-wrapper
              button.search-field__submit