.main-nav-menu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $screen-lg) {
    justify-content: unset;
  }
}

.menu-item {
  // width: calc(100% - 2px);
  // padding: 14px 20px;
  font-size: 14px;
  line-height: 1.35714;
  font-family: $font-secondary;
  background: 0;
  border: 1px solid $color-gray-182;
  text-transform: uppercase;
  border-top: none;
  @media (min-width: $screen-md) {
    width: auto;
    // padding: 14px 0;
    border: 0;
    cursor: pointer;
    outline: 0;
  }
  input {
    display: none;
    height: 0;
    opacity: 0;
  }
}

.menu-item:first-child {
  @media (min-width: $screen-lg) {
    margin-left: auto;
  }
}
.menu-item + .menu-item {
  @media (min-width: $screen-lg) {
    margin-left: 38px;
  }
}
.menu-item:first-of-type {
  border-top: 1px solid $color-gray-182;
  @media (min-width: $screen-md) {
    border: 0;
  }
}
.main-nav__menu-button {
  width: 100%;
  padding: 14px 20px;
  font-size: 14px;
  line-height: 1.35714;
  font-family: $font-secondary;
  background: 0;
  border: 0;
  text-transform: uppercase;

  @media (min-width: $screen-md) {
    padding: 14px 0;
    cursor: pointer;
    outline: 0;
  }
}

.main-nav__menu-subcategory-container {
  transform: scaleY(0);
  transition: all ease 0.5s;
  visibility: hidden;
  max-height: 0;
  transform-origin: top;
  @media (min-width: $screen-md) {
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    // bottom: 0;
    opacity: 0;
    transition: all ease 0.5s;
  }
}

input:checked ~ .main-nav__menu-subcategory-container {
  @media (max-width: $screen-md-lt) {
    transform: scaleY(1);
    transition: transform ease 0.5s, opacity ease 0.5s, max-height ease 0.5s;
    visibility: visible;
    max-height: 1000px;
  }
}
// .main-nav__menu-subcategory-container--active {
//   visibility: visible;
//   max-height: 1000px;
//   transform: scaleY(1);
//   transition: transform ease 0.5s, opacity ease 0.5s, max-height ease 0.5s;
// }
@media (min-width: $screen-md) {
  .menu-item:hover > .main-nav__menu-subcategory-container {
    z-index: 30;
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    max-height: 1000px;
  }
}

////////

.menu-item__icon {
  position: absolute;
  top: 50%;
  right: 14px;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
}
.menu-item__label {
  position: relative;
  display: block;
  // width: 100%;
  padding: 14px 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  @media (min-width: $screen-md) {
    padding: 14px 0px;
    // padding: 0;
  }
  &:hover {
    color: $color-blood;
  }
}

.menu-item__label--expandable::after {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 12px;
  height: 2px;
  background-color: $color-gray-85;
  transform: translate(-50%, -50%);
  content: "";
  @media (min-width: $screen-md) {
    content: initial;
  }
}
.menu-item__label--expandable::before {
  position: absolute;
  top: 50%;
  right: 25px;
  width: 2px;
  height: 12px;
  background-color: $color-gray-85;
  transform: translate(-50%, -50%) scaleY(1);
  // transform: scaleY(1);
  transition: all 0.5s ease;
  content: "";
  @media (min-width: $screen-md) {
    content: initial;
  }
}
input:checked ~ .menu-item__label--expandable::before {
  transform: translate(-50%, -50%) scaleY(0);
}

