mixin advertising(data)
    div.advertising-container-wrapper
      div.content-container.content-container--advertising
        div.advertising-container
            section.advertising
                div.ad-section-container-1
                    section.ad-section-1
                        div.ad-block-1-container 
                            img.add-block-1__img-xs(src="%=static=%images/assets/advertising/1adv280x156px_1.jpg" alt="Ad 1")
                            img.add-block-1__img-sm(src="%=static=%images/assets/advertising/1adv476x266px_1.jpg" alt="Ad 1")
                            img.add-block-1__img-md(src="%=static=%images/assets/advertising/1adv620x346px_1.jpg" alt="Ad 1")
                            img.add-block-1__img-lg(src="%=static=%images/assets/advertising/1adv-lg_1.jpg" alt="Ad 1")

                    section.ad-section-3
                        div.ad-section-3-col-left
                            div.ad-block-3-container
                                img.add-block-3__img-sm(src="%=static=%images/assets/advertising/3adv280x189px.jpg" alt="Ad 3")
                                img.add-block-3__img-md(src="%=static=%images/assets/advertising/3adv228x154px.jpg" alt="Ad 3")
                                img.add-block-3__img-xs(src="%=static=%images/assets/advertising/3adv300x203px.jpg" alt="Ad 3")
                                img.add-block-3__img-lg(src="%=static=%images/assets/advertising/3adv-lg.jpg" alt="Ad 3")

                            div.ad-block-4-container
                                img.add-block-4__img-xs(src="%=static=%images/assets/advertising/4adv280x189px.png" alt="Ad 4")
                                img.add-block-4__img-sm(src="%=static=%images/assets/advertising/4adv228x154px.jpg" alt="Ad 4")
                                img.add-block-4__img-md(src="%=static=%images/assets/advertising/4adv300x203px.jpg" alt="Ad 4")
                                img.add-block-4__img-lg(src="%=static=%images/assets/advertising/4adv-lg.jpg" alt="Ad 4")

                        div.ad-section-3-col-right
                            div.ad-block-5-container
                                img.add-block-5__img-xs(src="%=static=%images/assets/advertising/5adv280x401px_1.jpg" alt="Ad 5")
                                img.add-block-5__img-sm(src="%=static=%images/assets/advertising/5adv228x328px_1.jpg" alt="Ad 5")
                                img.add-block-5__img-md(src="%=static=%images/assets/advertising/5adv300x426px_1.jpg" alt="Ad 5")
                                img.add-block-5__img-lg(src="%=static=%images/assets/advertising/5adv-lg_1.jpg" alt="Ad 5")

                div.ad-section-container-2
                    div.add-section-2-row-1
                        div.ad-block-2-container
                        img.add-block-2__img-xs(src="%=static=%images/assets/advertising/2adv280x537px.jpg" alt="Ad 2")
                        img.add-block-2__img-sm(src="%=static=%images/assets/advertising/2adv228x432px.jpg" alt="Ad 2")
                        img.add-block-2__img-md(src="%=static=%images/assets/advertising/2adv300x569px.jpg" alt="Ad 2")
                        img.add-block-2__img-lg(src="%=static=%images/assets/advertising/2adv-lg.jpg" alt="Ad 2")
                    div.add-section-2-row-2     
                        div.ad-block-6-container
                        img.add-block-6__img-xs(src="%=static=%images/assets/advertising/6adv280x189px.jpg" alt="Ad 6")
                        img.add-block-6__img-sm(src="%=static=%images/assets/advertising/6adv228x162px.jpg" alt="Ad 6")
                        img.add-block-6__img-md(src="%=static=%images/assets/advertising/6adv302x203px.jpg" alt="Ad 6")
                        img.add-block-6__img-lg(src="%=static=%images/assets/advertising/6adv-lg.jpg" alt="Ad 6")
