.product-block {
  position: relative;
}
.product-block__slider {
  position: relative;
}
.product-slider__controls-container {
  position: absolute;
  bottom: 13px;
  left: 10px;
}
.product-info-rows__row-1 {
  display: flex;
  margin-top: 21px;
  justify-content: space-between;
}
.product-block__product-name-container {
  flex: 3;
}
.product-block__product-price-container {
  text-align: right;
  flex: 1;
}
.product-block__product-price {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.13333;
  font-family: $font-secondary;
  color: $color-gray-27;
}
.product-block__product-price--discount {
  color: $color-gray-153;
  text-decoration: line-through;
}
.product-info-rows__row-2 {
  position: relative;
  display: flex;
  margin-top: 4px;
  border: 2px solid $color-gray-68;
}
.product-info-rows__row-2::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 16px;
  background-color: $color-gray-68;
  transform: translate(-50%, -50%);
  content: "";
}
.product-info-rows__row-2 > * {
  text-align: center;
  flex: 1;
}
.product-block__large-link {
  display: block;
  padding: 7px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214285;
  color: $color-gray-68;
  transition: all 0.3s ease;
  text-transform: uppercase;
  &:hover {
    color: $color-blood;
  }
}

.product-info-rows__row-3 {
  display: flex;
  margin-top: 3px;
  justify-content: space-between;
}

.product-block__cursive-link {
  font-style: italic;
  font-size: 13px;
  line-height: 1.30769;
  color: $color-gray-68;
  transition: all 0.3s ease;
  &:hover {
    color: $color-gray-68;
    text-decoration: underline;
  }
}
.product-block__discount-label-container {
  position: absolute;
  top: 10px;
  left: -3px;
}
.product-block__product-star-rating-container {
  position: absolute;
  bottom: 38px;
  visibility: hidden;
}

@media (min-width: $screen-md) {
  .product-slider__controls-container,
  .product-info-rows__row-2,
  .product-info-rows__row-3 {
    transition: all 0.15s ease;
  }
  .product-slider__controls-container,
  .product-info-rows__row-2,
  .product-info-rows__row-3 {
    opacity: 0;
    visibility: hidden;
  }
  .product-block__product-star-rating-container {
    visibility: visible;
  }
  .product-block:hover .product-slider__controls-container,
  .product-block:hover .product-info-rows__row-2,
  .product-block:hover .product-info-rows__row-3 {
    opacity: 1;
    visibility: visible;
  }
  .product-block:hover .product-block__product-star-rating-container {
    visibility: hidden;
  }
}
.product-slider__images {
  width: 100%;
}
.product-slider__images img {
  width: 100%;
}
.product-slider-controls {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style-type: none;
}
.product-slider-controls__item {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid $color-gray-85;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px $color-white;
}
.product-slider-controls__item:nth-of-type(n + 2) {
  margin-left: 10px;
}
.product-slider-controls__item:nth-of-type(1) {
  background-color: #0e0c0f;
}
.product-slider-controls__item:nth-of-type(2) {
  background-color: #202a4e;
}
.product-slider-controls__item:nth-of-type(3) {
  background-color: #923349;
}
.product-block__product-link {
  font-size: 13px;
  line-height: 1.461538;
  color: $color-gray-68;
  text-decoration: none;
}
.product-block__discount-label {
  display: inline-block;
  padding: 2px 15px 1px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-blood;
  border: 3px solid $color-blood;
}

// star rating
.product-star-rating {
  float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.product-star-rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.product-star-rating:not(:checked) > label {
  float: right;
  overflow: hidden;
  width: 15px;
  padding: 0 0.1em;
  font-size: 16px;
  line-height: 1.2;
  color: $color-gray-206;
  cursor: pointer;
  white-space: nowrap;
  // text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.product-star-rating:not(:checked) > label:before {
  content: "★";
}

.product-star-rating > input:checked ~ label {
  color: $color-gray-119;
  // text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.product-star-rating:not(:checked) > label:hover,
.product-star-rating:not(:checked) > label:hover ~ label {
  color: $color-gray-126;
  // text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
  //   0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.product-star-rating > input:checked + label:hover,
.product-star-rating > input:checked + label:hover ~ label,
.product-star-rating > input:checked ~ label:hover,
.product-star-rating > input:checked ~ label:hover ~ label,
.product-star-rating > label:hover ~ input:checked ~ label {
  color: $color-gray-86;
  // text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
  //   0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.product-star-rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
